*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navItem ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Crete Round', serif;
    transition: all;
    transition-duration: 0.4s;
}
.navItem ul li a:hover{
    text-decoration: underline;
    font-size: 14pt;
}
.container{
    height: 100%;
    width: 100%;
}
.navContainer{
    background-color: #d9d9d9;
    display: flex;
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navItem{
    display: flex;
    
}
.navItem ul{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 15px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: 1.5rem;
    font-family: 'Crete Round', serif;
}
li{
    list-style-type: none;
}
.nav img{
    width: 80px;
    height: 80px;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    width: 100%;
}
.introcard{
    margin-top: 30px;
    width: 90%;
    height: 420px;
    background-image: url(https://img.freepik.com/free-photo/copy-space-italian-food-ingredients_23-2148551732.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items:center;
    justify-content: end;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.intro{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 40px;
}
#punchline{
    font-size: 4.2rem;
    font-weight: 600;
    font-family: 'Crete Round', serif;
    color: white;
    text-shadow: -3px -3px 5px #000, 3px -3px 5px #000, -3px 3px 5px #000, 3px 3px 5px #000;
    color: #F9B929;

}
#desc{
    font-size: 2.2rem;
    font-weight: 500;
    font-family: 'Crete Round', serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;    color:black
}
#introButton{
    font-size: 2.2rem;
    font-weight: 500;
    font-family: 'Crete Round', serif;
    border: 0.15rem solid #F9B929;
    border-radius: 32px;
    padding: 10px;
    transition: all;
    transition-duration: 0.2s;
    color: #F9B929;
}
#introButton:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 2.25rem;
    cursor: pointer;
}
.stats{
    display: flex;
    background-color: #d9d9d9;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}
.stats p{
    font-size: 14pt;
    font-weight: 400;
    font-family: 'Crete Round', serif;
}
.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    gap: 50px;
}
.recipeCard{
    display: flex;
    /* gap: 30px; */
    width: 100%;
    justify-content: space-around;
}
.recipe h2{
    font-size: 25pt;
    font-family: 'Crete Round', serif;
}
.card{
    width: 300px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: relative;
    overflow: hidden;
}
.recipeCard img{
    max-width: 100%;
    transition: all 0.4s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
}
.card:hover img{
    cursor: pointer;
    transform: scale(1.1);
}
.recipeButton{
    width: 90px;
    font-size: 12pt;
    font-family: 'Crete Round', serif;
    border: 0.1rem solid #F9B929;
    border-radius: 20px;
    padding: 10px;
    transition: all;
    transition-duration: 0.2s;
    color: #F9B929;
    background-color: #ffffff;
}
.recipeButton:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 13pt;
    cursor: pointer;
}
.chef{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    gap: 50px;
    width: 100%;
}
.chefCard{
    display: flex;
    /* gap: 60px; */
    width: 80%;
    justify-content: space-evenly;
}
.chef h2{
    font-size: 25pt;
    font-family: 'Crete Round', serif;
}
.chefHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.chefHolder p{
    font-size: 15pt;
    font-family: 'Crete Round', serif;
}
.chefImg{
    width: 150px;
    border-radius: 150px ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    position: relative;
    overflow: hidden;
}
.chefImg img{
    max-width: 100%;
    transition: all 0.4s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    border-radius: 100px ;
}
.chefImg:hover img{
    cursor: pointer;
    transform: scale(1.1);
}
.chefButton{
    width: 90px;
    font-size: 12pt;
    font-family: 'Crete Round', serif;
    border: 0.1rem solid #F9B929;
    border-radius: 20px;
    padding: 10px;
    transition: all;
    transition-duration: 0.2s;
    color: #F9B929;
    background-color: #ffffff;
}
.chefButton:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 13pt;
    cursor: pointer;
}
